{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Тут описание страницы</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
<a href="http://127.0.0.1:8000/admin">в адмику</a>
{% block content %}
{% endblock %}
<script src="{% static 'js/jquery-3.5.1.slim.min.js' %}" type="application/javascript"></script>
<script src="{% static 'js/popper.min.js' %}" type="application/javascript"></script>
<script src="{% static 'js/bootstrap.min.js' %}" type="application/javascript"></script>
<script src="{% static  'js/main.js'%}" type="application/javascript"></script>
</body>
</html>